body {
	margin: 0 auto;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	text-align: center;
	font-family: Helvetica;
}


header {
	display: flex;
	height: 69px;
	position: fixed;
	background-color: black;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding-right: 20px;
	border-bottom: 1pt solid seashell;
	text-decoration: underline;
}

nav span {
	
}

.container {
	padding-top: 100px;
	display: inline-block;


}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 700px;
	width: 1200px;
	background-image: url(../images/img-mission-background.jpg);
}


.mainText {
  background-color: black;
  width: 1200px;
  height: 100px;

}

.mainText h2, .mainText h4 {
	  margin-top: 10px;
  margin-bottom: 10px;
}

.teaMonth {
	margin-top: 30px;
	display: inline-block;
	width: 1000px;
}

.photoDescriptions {
  justify-content: center;
  align-content: space-between;
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
    padding: 0 0;
  margin: 0 auto;
  
}

.photoNote img {

	height: 200px;
	width:300px;
		padding: 0 15px;
	}

.photoNote {

	margin-bottom: 20px;

}

.photoNote h4 {
	padding: 0 0;
	margin-top: 10px;
}